img {
    width: 100%;
}

.card {
    width: 400px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: auto;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button {
    background-color: rgb(192, 124, 0);
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    font-size: 12px;
}

button:hover {
    background-color: orange;
}